<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<ul class="panel_head">
    <ul class="panel_body">
        <h6> <font color="#2c729c">1.SpringBoot2源码 : </font></h6>
        <a href="https://github.com/Thinkingcao/SpringBootLearning"><strong>https://github.com/Thinkingcao/SpringBootLearning</strong></a><br>
        <h6>2.微信公众号框架 : </h6>
        <a href="https://github.com/Thinkingcao/silence-boot"><strong>https://github.com/Thinkingcao/silence-boot</strong></a><br>
        <h6>3.人工智能教程 : </h6>
        <a href="https://www.cbedai.net/thinkingcao/"><strong>https://www.cbedai.net/thinkingcao</strong></a> <br>
        <h6>4.SpringCloud交流群 : </h6>
        <a href="867729470"><strong>867729470</strong></a> <br>
        <h6>5.软考真题网 : </h6>
        <a href="https://ruankaoti.com"><strong>https://ruankaoti.com</strong></a> <br>
    </ul>
</ul>
<ul class="panel_head">
    <h6>6.技术公众号 : </h6></ul>
<ul class="panel_body">
    <img src="https://img-blog.csdn.net/20180929151346614?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L1RoaW5raW5nY2Fv/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70">
</ul>



</body>
</html>