<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="aside-content clearfix">
    <marquee scrollamount="3">
        <b>
               <span>
                        <font color="#FF0000">不荒废现在，不畏惧未来！</font>
                </span>
        </b>
    </marquee>
    <br>
    <center>
        <img src="https://img-blog.csdnimg.cn/20200408175643227.gif" alt="20200408175643227.gif">
        <br><b>关注回复菜单有惊喜哦</b>
        <h1>
            <font color="#FF6633">TrueDei</font>
        </h1>
        <p>Linux/Java/大数据</p>
    </center>
    <center>
        <br><br><b><a href="https://me.csdn.net/qq_44677062">
        <font color="#2c729c">美女程序猿【芝士】小姐姐的博客</font>
    </a></b>
        <img src="https://img-blog.csdnimg.cn/20200408181214488.jpg" alt="美女程序猿【芝士】小姐姐的博客">
        <br><br><b><a href="https://blog.csdn.net/weixin_43570367">
        <font color="#2c729c">优秀博主【扬帆向海】的博客</font>
    </a></b>
        <img src="https://img-blog.csdnimg.cn/20200408184332299.png" alt="优秀博主【扬帆向海】的博客">
        <br><br><b><a href="https://blog.csdn.net/u010632165">
        <font color="#2c729c">优秀博主【小麦大叔】的博客</font>
    </a></b>
        <img src="https://img-blog.csdnimg.cn/20200408184531667.png" alt="优秀博主【小麦大叔】的博客">
        <br><br><b><a href="https://me.csdn.net/qq_31821675">
        <font color="#2c729c">优秀博主【SoWhat1412】的博客</font>
    </a></b>
        <img src="https://img-blog.csdnimg.cn/20200408184259286.png" alt="优秀博主【SoWhat1412】的博客">
        <br><br><b><a href="https://img-blog.csdnimg.cn/20200408190254109.png">
        <font color="#2c729c">优秀博主【じ☆ve朽木】的博客</font>
    </a></b>
        <img src="https://img-blog.csdnimg.cn/20200408190254109.png" alt="优秀博主【じ☆ve朽木】的博客">
    </center>
</div>




</body>
</html>